## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Sensitive / Local Dev Config
appsettings.Local.json
*.local.json